# Ignore node_modules, which contains dependencies installed by npm or yarn
node_modules/

# Tailwind build files
dist/
build/
public/build/

# Ignore .env files if you store environment variables (optional, if used)
.env
.env.local
.env.development
.env.production
.env.test

# Ignore log files
*.log
npm-debug.log*

# macOS system files
.DS_Store

# Ignore cache and temporary files
.cache/
.pnpm-debug.log*
yarn-error.log
yarn-debug.log
package-lock.json
pnpm-lock.yaml
yarn
